.hz-c2af508e-90c7-428d-9a57-61c003281a23 {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(255,153,185,1);
}

.hz-ede512d7-13f9-43ff-9904-38f599cb3c59 {
  position: absolute;
  width: 174.9451904296875px;
  height: 110.55963897705078px;
  left: 50%;
  top: 11.57549357394856%;
  transform: translate(-50%, -11.57549357394856%) rotate(0deg);
  color: rgba(239,226,206,1);
  font-size: 31.999977111816406px;
  font-weight: undefined;
  font-family: Liberation Serif;
  line-height: 1;
  text-align: center;
}

.hz-f4f3afbd-3418-4e60-ac04-8c402f90a234 {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(255,153,185,1);
}

.hz-cab62be4-4b3c-42d5-b61b-08b60349af06 {
  position: absolute;
  width: 174.9451904296875px;
  height: 110.55963897705078px;
  left: 50%;
  top: 11.57549357394856%;
  transform: translate(-50%, -11.57549357394856%) rotate(0deg);
  color: rgba(239,226,206,1);
  font-size: 31.999977111816406px;
  font-weight: undefined;
  font-family: Liberation Serif;
  line-height: 1;
  text-align: center;
}

.hz-61ebef5b-ea9a-48e7-a0ae-569d255ba14f {
  position: absolute;
  width: 145px;
  height: 19.749021530151367px;
  left: 50%;
  top: 74.72051470441627%;
  transform: translate(-50%, -74.72051470441627%) rotate(0deg);
  color: rgba(48,190,191,1);
  font-size: 17.999998092651367px;
  font-weight: undefined;
  font-family: Open Sans;
  line-height: 1.2000000476837158;
  text-align: center;
}

.hz-2253287c-b5e0-46a4-ab88-f257910d025e {
  position: absolute;
  width: 299.1689750692521px;
  height: 300px;
  left: 83.70049200492005%;
  top: 55.12548828125%;
  transform: translate(-83.70049200492005%, -55.12548828125%);
}

.hz-ec3f3a2a-0167-4e66-863d-04799dae477a {
  position: absolute;
  width: 145px;
  height: 19.749021530151367px;
  left: 50%;
  top: 74.72051470441627%;
  transform: translate(-50%, -74.72051470441627%) rotate(0deg);
  color: rgba(48,190,191,1);
  font-size: 17.999998092651367px;
  font-weight: undefined;
  font-family: Open Sans;
  line-height: 1.2000000476837158;
  text-align: center;
}

.hz-99f6aa85-3489-4b5c-990b-0754c9238807 {
  position: absolute;
  width: 299.1689750692521px;
  height: 300px;
  left: 83.70049200492005%;
  top: 55.12548828125%;
  transform: translate(-83.70049200492005%, -55.12548828125%);
}

.hz-da839178-9471-46c8-94b4-0ad3ffecab84 {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(255,153,185,1);
}

.hz-139a0ffc-78c8-4eb7-a4cc-c3769cb7d4fe {
  position: absolute;
  width: 174.9451904296875px;
  height: 110.55963897705078px;
  left: 50%;
  top: 11.57549357394856%;
  transform: translate(-50%, -11.57549357394856%) rotate(0deg);
  color: rgba(239,226,206,1);
  font-size: 31.999977111816406px;
  font-weight: undefined;
  font-family: Liberation Serif;
  line-height: 1;
  text-align: center;
}

.hz-9708b1df-1bf9-428f-9147-47eeb2f2b981 {
  position: absolute;
  width: 145px;
  height: 19.749021530151367px;
  left: 50%;
  top: 74.72051470441627%;
  transform: translate(-50%, -74.72051470441627%) rotate(0deg);
  color: rgba(48,190,191,1);
  font-size: 17.999998092651367px;
  font-weight: undefined;
  font-family: Open Sans;
  line-height: 1.2000000476837158;
  text-align: center;
}

.hz-629181aa-8f1e-4d3f-93f5-5a8026fc4806 {
  position: absolute;
  width: 299.1689750692521px;
  height: 300px;
  left: 83.70049200492005%;
  top: 55.12548828125%;
  transform: translate(-83.70049200492005%, -55.12548828125%);
}

