hz-f7c10183-ff71-41dc-a8e6-a46f6af57d5b {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: rgba(252,221,3,1);
}

hz-aa9587a1-3547-43dc-a654-2abea97738e2 {
  position: absolute;
  width: 300;
  height: 36.99167251586914;
  left: 12.444444444444445%;
  top: 52.91382449137979%;
  transform: translate(-12.444444444444445%, -52.91382449137979%) rotate(0deg);
  color: rgba(14.000000115484, 128.0000075697899, 140.00000685453415, 1);
  font-size: 31.999977111816406px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
}

hz-f9bc42a9-0f30-4c39-b35a-51c401e81f19 {
  position: absolute;
  width: 244;
  height: 19.749021530151367;
  left: 85.77405857740585%;
  top: 52.07994335978833%;
  transform: translate(-85.77405857740585%, -52.07994335978833%) rotate(0deg);
  color: rgba(107.00000122189522, 124.00000020861626, 153.00000607967377, 1);
  font-size: 17.999998092651367px;
  font-weight: undefined;
  font-family: Open Sans;
  line-height: 1.2000000476837158;
  text-align: center;
}

hz-ca259e09-1be4-4205-b69d-8e81539144e3 {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: rgba(252,221,3,1);
}

hz-c816a049-9c72-4155-8801-b8832e2a54e2 {
  position: absolute;
  width: 300;
  height: 36.99167251586914;
  left: 12.444444444444445%;
  top: 52.91382449137979%;
  transform: translate(-12.444444444444445%, -52.91382449137979%) rotate(0deg);
  color: rgba(14.000000115484, 128.0000075697899, 140.00000685453415, 1);
  font-size: 31.999977111816406px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
}

hz-820b0fec-17e9-4f4b-b424-90290238e07c {
  position: absolute;
  width: 244;
  height: 19.749021530151367;
  left: 85.77405857740585%;
  top: 52.07994335978833%;
  transform: translate(-85.77405857740585%, -52.07994335978833%) rotate(0deg);
  color: rgba(107.00000122189522, 124.00000020861626, 153.00000607967377, 1);
  font-size: 17.999998092651367px;
  font-weight: undefined;
  font-family: Open Sans;
  line-height: 1.2000000476837158;
  text-align: center;
}

hz-ea22e622-a8a3-4933-921d-433deb8143a6 {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: rgba(252,221,3,1);
}

hz-920b3c8f-6b47-4f66-8ee1-f7ee6df86ca6 {
  position: absolute;
  width: 300;
  height: 36.99167251586914;
  left: 12.444444444444445%;
  top: 52.91382449137979%;
  transform: translate(-12.444444444444445%, -52.91382449137979%) rotate(0deg);
  color: rgba(14.000000115484, 128.0000075697899, 140.00000685453415, 1);
  font-size: 31.999977111816406px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
}

hz-7e5d5bba-2474-4f25-b3c0-98ec40618459 {
  position: absolute;
  width: 244;
  height: 19.749021530151367;
  left: 85.77405857740585%;
  top: 52.07994335978833%;
  transform: translate(-85.77405857740585%, -52.07994335978833%) rotate(0deg);
  color: rgba(107.00000122189522, 124.00000020861626, 153.00000607967377, 1);
  font-size: 17.999998092651367px;
  font-weight: undefined;
  font-family: Open Sans;
  line-height: 1.2000000476837158;
  text-align: center;
}
