.hz-b4f4664a-a3aa-4bd8-ae86-144e018e59e9 {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: rgba(255,255,255,1);
}

.hz-ca2a5d9c-1b82-48d5-a162-382645a9c29f {
  position: absolute;
  width: 1552.456058425857px;
  height: 2134.6270879649487px;
  left: 9.735603544758058%;
  top: 3.283449009912693%;
  transform: translate(-9.735603544758058%, -3.283449009912693%);
}

.hz-e9364eef-4106-4f67-ae3f-304276c3bc19 {
  position: absolute;
  width: 148.24795532226562px;
  height: 41.02867412567139px;
  left: 49.999988393622516%;
  top: 97.54145384470564%;
  transform: translate(-49.999988393622516%, -97.54145384470564%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69335174560547px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 1.2000000476837158;
  text-align: center;
}

.hz-7e0973a7-eed6-4a9d-8326-9925aa4b241b {
  position: absolute;
  width: 440.7444152832031px;
  height: 225.31787109375px;
  left: 50.00000200970389%;
  top: 18.196796553399864%;
  transform: translate(-50.00000200970389%, -18.196796553399864%) rotate(0deg);
  color: rgba(203.00000309944153, 54.00000058114529, 80.00000283122063, 1);
  font-size: 124.15336608886719px;
  font-weight: bold;
  font-family: Bebas Neue;
  line-height: 0.7148440480232239;
  text-align: center;
}

.hz-aa221ed9-20ae-4870-93f0-201f0012997c {
  position: absolute;
  width: 278.211669921875px;
  height: 76.97871398925781px;
  left: 50%;
  top: 54.28977405494687%;
  transform: translate(-50%, -54.28977405494687%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69335174560547px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
}

.hz-167b2380-0500-4868-a6ec-a863022c7069 {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: rgba(255,255,255,1);
}

.hz-504d3f7a-b141-4395-8855-84fc11aa3e0d {
  position: absolute;
  width: 1552.456058425857px;
  height: 2134.6270879649487px;
  left: 9.735603544758058%;
  top: 3.283449009912693%;
  transform: translate(-9.735603544758058%, -3.283449009912693%);
}

.hz-49f10c1f-a184-4a85-9ff2-fdd8035698f6 {
  position: absolute;
  width: 148.24795532226562px;
  height: 41.02867412567139px;
  left: 49.999988393622516%;
  top: 97.54145384470564%;
  transform: translate(-49.999988393622516%, -97.54145384470564%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69335174560547px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 1.2000000476837158;
  text-align: center;
}

.hz-805c19d5-9f09-4c3f-8467-e2a9ea6d695f {
  position: absolute;
  width: 440.7444152832031px;
  height: 225.31787109375px;
  left: 50.00000200970389%;
  top: 18.196796553399864%;
  transform: translate(-50.00000200970389%, -18.196796553399864%) rotate(0deg);
  color: rgba(203.00000309944153, 54.00000058114529, 80.00000283122063, 1);
  font-size: 124.15336608886719px;
  font-weight: bold;
  font-family: Bebas Neue;
  line-height: 0.7148440480232239;
  text-align: center;
}

.hz-8da146db-6ca5-4532-b091-4903ee22f243 {
  position: absolute;
  width: 278.211669921875px;
  height: 76.97871398925781px;
  left: 50%;
  top: 54.28977405494687%;
  transform: translate(-50%, -54.28977405494687%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69335174560547px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
}

.hz-b5b0bbe4-dbf4-474d-9a39-95fbc6844a71 {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: rgba(255,255,255,1);
}

.hz-69f1f1d0-8173-4d17-b821-469cc2c9fcdf {
  position: absolute;
  width: 1552.456058425857px;
  height: 2134.6270879649487px;
  left: 9.735603544758058%;
  top: 3.283449009912693%;
  transform: translate(-9.735603544758058%, -3.283449009912693%);
}

.hz-d07e31f7-31bb-4a8e-aa10-09fa8c643d15 {
  position: absolute;
  width: 148.24795532226562px;
  height: 41.02867412567139px;
  left: 49.999988393622516%;
  top: 97.54145384470564%;
  transform: translate(-49.999988393622516%, -97.54145384470564%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69335174560547px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 1.2000000476837158;
  text-align: center;
}

.hz-cb235636-3fbc-40ce-bf1e-53c943bafec5 {
  position: absolute;
  width: 440.7444152832031px;
  height: 225.31787109375px;
  left: 50.00000200970389%;
  top: 18.196796553399864%;
  transform: translate(-50.00000200970389%, -18.196796553399864%) rotate(0deg);
  color: rgba(203.00000309944153, 54.00000058114529, 80.00000283122063, 1);
  font-size: 124.15336608886719px;
  font-weight: bold;
  font-family: Bebas Neue;
  line-height: 0.7148440480232239;
  text-align: center;
}

.hz-0b6ce6b4-4a38-42cf-ba74-0cc2b44e5aac {
  position: absolute;
  width: 278.211669921875px;
  height: 76.97871398925781px;
  left: 50%;
  top: 54.28977405494687%;
  transform: translate(-50%, -54.28977405494687%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69335174560547px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
}

