.hz-4c9cd377-9e5d-42de-95bc-a6d4d125fc77 {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: rgba(201,219,220,1);
}

.hz-f3f7acb5-9045-4e20-ba75-10c27aa59f39 {
  position: absolute;
  width: 646.6666717529297px;
  height: 369.9152530734822px;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -0%);
  opacity: undefined;
}

.hz-dda18ab7-6668-4268-b445-133d548ac5e7 {
  position: absolute;
  width: 436.5885314941406px;
  height: 189.6128692626953px;
  left: 49.9999980012366%;
  top: 49.99999717564819%;
  transform: translate(-49.9999980012366%, -49.99999717564819%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 65.51106262207031px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 0.9026874899864197;
  text-align: center;
  zIndex: 10;
}

.hz-3d4f7963-98e0-44ea-a672-e734c6114902 {
  position: absolute;
  width: 434.3791809082031px;
  height: 17.2515811920166px;
  left: 50.14428690080139%;
  top: 67.8569432773284%;
  transform: translate(-50.14428690080139%, -67.8569432773284%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 15.841828346252441px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-32a1c4dd-f0b0-4df1-afc8-a8ca94d2a82e {
  position: absolute;
  width: 434.379150390625px;
  height: 20.44631576538086px;
  left: 50.144284902054636%;
  top: 70.88686297701406%;
  transform: translate(-50.144284902054636%, -70.88686297701406%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 18.77549934387207px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-57e15b48-2713-4b5d-a68b-26a5426480db {
  position: absolute;
  width: 114.13887786865234px;
  height: 40.6840934753418px;
  left: 35.152351549793195%;
  top: 84.12469134737657%;
  transform: translate(-35.152351549793195%, -84.12469134737657%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 12.429780006408691px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.0920624732971191;
  text-align: left;
  zIndex: 10;
}

.hz-1c46d3f5-7125-442c-8b3d-362daccafa11 {
  position: absolute;
  width: 147.6717987060547px;
  height: 45.6911506652832px;
  left: 36.22532876313697%;
  top: 78.70304565635428%;
  transform: translate(-36.22532876313697%, -78.70304565635428%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 18.77549934387207px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.3445625305175781;
  text-align: left;
  zIndex: 10;
}

.hz-5c79156b-35e2-4c81-bc30-658ac9230041 {
  position: absolute;
  width: 434.379150390625px;
  height: 13.972537994384766px;
  left: 50.144284902054636%;
  top: 95.83018350701374%;
  transform: translate(-50.144284902054636%, -95.83018350701374%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 12.830739974975586px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-8f5a5102-b744-4e63-85a7-265150d86626 {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: rgba(201,219,220,1);
}

.hz-92081700-3993-40ad-b629-8f30f79ca095 {
  position: absolute;
  width: 646.6666717529297px;
  height: 369.9152530734822px;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -0%);
  opacity: undefined;
}

.hz-8509bb5e-b370-47b3-9c61-1f07882af82e {
  position: absolute;
  width: 436.5885314941406px;
  height: 189.6128692626953px;
  left: 49.9999980012366%;
  top: 49.99999717564819%;
  transform: translate(-49.9999980012366%, -49.99999717564819%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 65.51106262207031px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 0.9026874899864197;
  text-align: center;
  zIndex: 10;
}

.hz-ad729397-fa8d-4d7c-a0b3-50ec673230d3 {
  position: absolute;
  width: 434.3791809082031px;
  height: 17.2515811920166px;
  left: 50.14428690080139%;
  top: 67.8569432773284%;
  transform: translate(-50.14428690080139%, -67.8569432773284%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 15.841828346252441px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-bf108638-7113-4601-ac0e-26d46c4ff11d {
  position: absolute;
  width: 434.379150390625px;
  height: 20.44631576538086px;
  left: 50.144284902054636%;
  top: 70.88686297701406%;
  transform: translate(-50.144284902054636%, -70.88686297701406%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 18.77549934387207px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-4e9f9c85-21b2-430f-a5d5-0af739dc2bed {
  position: absolute;
  width: 114.13887786865234px;
  height: 40.6840934753418px;
  left: 35.152351549793195%;
  top: 84.12469134737657%;
  transform: translate(-35.152351549793195%, -84.12469134737657%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 12.429780006408691px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.0920624732971191;
  text-align: left;
  zIndex: 10;
}

.hz-4b68b208-6aa4-4587-9768-b700e0772d22 {
  position: absolute;
  width: 147.6717987060547px;
  height: 45.6911506652832px;
  left: 36.22532876313697%;
  top: 78.70304565635428%;
  transform: translate(-36.22532876313697%, -78.70304565635428%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 18.77549934387207px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.3445625305175781;
  text-align: left;
  zIndex: 10;
}

.hz-7acb4ccf-3389-481f-bb1f-ca51201dcfc6 {
  position: absolute;
  width: 434.379150390625px;
  height: 13.972537994384766px;
  left: 50.144284902054636%;
  top: 95.83018350701374%;
  transform: translate(-50.144284902054636%, -95.83018350701374%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 12.830739974975586px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

header {
  display: none;
}

footer {
  display: none;
}

.hz-promotion-container {
  padding: 0 !important;
}

.hz-promotion-wrapper {
  max-width: unset !important;
  margin: unset !important;
}
