.hz-c3791e92-d037-4c1f-8342-a78f9c9fbfbb {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: rgba(245,233,190,1);
}

.hz-f0247776-4ab1-4ba3-a3d4-666202f7d579 {
  position: absolute;
  width: 1120.3267822265625px;
  height: 225.31787109375px;
  left: 50.00007660686735%;
  top: 54.0584075877896%;
  transform: translate(-50.00007660686735%, -54.0584075877896%) rotate(0deg);
  color: rgba(203.00000309944153, 54.00000058114529, 80.00000283122063, 1);
  font-size: 124.15336608886719px;
  font-weight: bold;
  font-family: Bebas Neue;
  line-height: 0.7148440480232239;
  text-align: center;
  zIndex: 10;
}

.hz-09e16c1e-150e-46f7-b189-08b092e36236 {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: rgba(245,233,190,1);
}

.hz-7792655c-f26d-4360-9e5c-b8600e6bfae0 {
  position: absolute;
  width: 1120.3267822265625px;
  height: 225.31787109375px;
  left: 50.00007660686735%;
  top: 54.0584075877896%;
  transform: translate(-50.00007660686735%, -54.0584075877896%) rotate(0deg);
  color: rgba(203.00000309944153, 54.00000058114529, 80.00000283122063, 1);
  font-size: 124.15336608886719px;
  font-weight: bold;
  font-family: Bebas Neue;
  line-height: 0.7148440480232239;
  text-align: center;
  zIndex: 10;
}

.hz-df34c0bb-ea7b-4467-be11-357c42af44b1 {
  position: absolute;
  width: 1120.32666015625px;
  height: 41.02869415283203px;
  left: 49.999928181171896%;
  top: 76.34286831190666%;
  transform: translate(-49.999928181171896%, -76.34286831190666%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69336700439453px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
  zIndex: 10;
}

.hz-ff154ee0-d05e-453a-8f63-6b6480d500c8 {
  position: absolute;
  width: 1120.3267669677734px;
  height: 406.67861862182616px;
  left: 50%;
  top: 13%;
  transform: translate(-50%, -13%);
  opacity: 0.7;
}

.hz-8a850f2a-7f12-45f5-bb42-0dfbf48ee4d9 {
  position: absolute;
  width: 1120.32666015625px;
  height: 41.02869415283203px;
  left: 50.000081394671845%;
  top: 92.19318615491251%;
  transform: translate(-50.000081394671845%, -92.19318615491251%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69336700439453px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
  zIndex: 10;
}

.hz-fd80c77c-a7c1-4c41-b408-d98dcf7c9bff {
  position: absolute;
  width: 1120.32666015625px;
  height: 41.02869415283203px;
  left: 49.999928181171896%;
  top: 76.34286831190666%;
  transform: translate(-49.999928181171896%, -76.34286831190666%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69336700439453px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
  zIndex: 10;
}

.hz-e7a5dc42-722d-4003-8dab-28ef4ef4e8bf {
  position: absolute;
  width: 1120.3267669677734px;
  height: 406.67861862182616px;
  left: 50%;
  top: 13%;
  transform: translate(-50%, -13%);
  opacity: 0.7;
}

.hz-4f2cc0de-1ec9-4b3d-8cc4-b7503fc38827 {
  position: absolute;
  width: 1120.32666015625px;
  height: 41.02869415283203px;
  left: 50.000081394671845%;
  top: 92.19318615491251%;
  transform: translate(-50.000081394671845%, -92.19318615491251%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69336700439453px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
  zIndex: 10;
}

header {
  display: none;
}

footer {
  display: none;
}

.hz-promotion-container {
  padding: 0 !important;
}

.hz-promotion-wrapper {
  max-width: unset !important;
  margin: unset !important;
}
