.hz-f75e314b-85c2-4778-b83e-6fa52ba10103 {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: rgba(245,233,190,1);
}

.hz-9d6a2bd6-4191-405c-bc6a-757a7fd04768 {
  position: absolute;
  width: 1120.3267822265625px;
  height: 225.31787109375px;
  left: 50.00007660686735%;
  top: 54.0584075877896%;
  transform: translate(-50.00007660686735%, -54.0584075877896%) rotate(0deg);
  color: rgba(203.00000309944153, 54.00000058114529, 80.00000283122063, 1);
  font-size: 124.15336608886719px;
  font-weight: bold;
  font-family: Bebas Neue;
  line-height: 0.7148440480232239;
  text-align: center;
  zIndex: 10;
}

.hz-3cdcadeb-cbde-426c-929d-8a2d276662fd {
  position: absolute;
  width: 1120.32666015625px;
  height: 41.02869415283203px;
  left: 49.999928181171896%;
  top: 76.34286831190666%;
  transform: translate(-49.999928181171896%, -76.34286831190666%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69336700439453px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
  zIndex: 10;
}

.hz-852af700-43de-4ae7-b781-7c4bd314ffd2 {
  position: absolute;
  width: 1120.3267669677734px;
  height: 406.67861862182616px;
  left: 50%;
  top: 13%;
  transform: translate(-50%, -13%);
  opacity: 0.7;
}

.hz-af23ee13-d8bd-44ab-8445-61c772ca3c37 {
  position: absolute;
  width: 1120.32666015625px;
  height: 41.02869415283203px;
  left: 50.000081394671845%;
  top: 92.19318615491251%;
  transform: translate(-50.000081394671845%, -92.19318615491251%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69336700439453px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
  zIndex: 10;
}

.hz-0dfe2a61-2be9-4b17-9ee2-1c0f00831c80 {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: rgba(245,233,190,1);
}

.hz-9d122cb5-2c75-4af7-a528-e2425149057a {
  position: absolute;
  width: 1120.3267822265625px;
  height: 225.31787109375px;
  left: 50.00007660686735%;
  top: 54.0584075877896%;
  transform: translate(-50.00007660686735%, -54.0584075877896%) rotate(0deg);
  color: rgba(203.00000309944153, 54.00000058114529, 80.00000283122063, 1);
  font-size: 124.15336608886719px;
  font-weight: bold;
  font-family: Bebas Neue;
  line-height: 0.7148440480232239;
  text-align: center;
  zIndex: 10;
}

.hz-14814e94-4725-4a15-b436-b22044a68b23 {
  position: absolute;
  width: 1120.32666015625px;
  height: 41.02869415283203px;
  left: 49.999928181171896%;
  top: 76.34286831190666%;
  transform: translate(-49.999928181171896%, -76.34286831190666%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69336700439453px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
  zIndex: 10;
}

.hz-d2d69a48-a12c-44a1-b7ff-203ee03ce014 {
  position: absolute;
  width: 1120.3267669677734px;
  height: 406.67861862182616px;
  left: 50%;
  top: 13%;
  transform: translate(-50%, -13%);
  opacity: 0.7;
}

.hz-752e9b4d-914c-4d76-a07f-069f3b351acb {
  position: absolute;
  width: 1120.32666015625px;
  height: 41.02869415283203px;
  left: 50.000081394671845%;
  top: 92.19318615491251%;
  transform: translate(-50.000081394671845%, -92.19318615491251%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69336700439453px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
  zIndex: 10;
}

.hz-40361f74-553f-44e7-b3a8-7c8002b66c6d {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: rgba(245,233,190,1);
}

.hz-692a0584-cd2d-425d-aad4-1cf46bc14144 {
  position: absolute;
  width: 1120.3267822265625px;
  height: 225.31787109375px;
  left: 50.00007660686735%;
  top: 54.0584075877896%;
  transform: translate(-50.00007660686735%, -54.0584075877896%) rotate(0deg);
  color: rgba(203.00000309944153, 54.00000058114529, 80.00000283122063, 1);
  font-size: 124.15336608886719px;
  font-weight: bold;
  font-family: Bebas Neue;
  line-height: 0.7148440480232239;
  text-align: center;
  zIndex: 10;
}

.hz-649dd64c-0f26-437c-b396-eac2649099ce {
  position: absolute;
  width: 1120.32666015625px;
  height: 41.02869415283203px;
  left: 49.999928181171896%;
  top: 76.34286831190666%;
  transform: translate(-49.999928181171896%, -76.34286831190666%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69336700439453px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
  zIndex: 10;
}

.hz-cda4d398-aa83-4c89-8f34-93912eae0680 {
  position: absolute;
  width: 1120.3267669677734px;
  height: 406.67861862182616px;
  left: 50%;
  top: 13%;
  transform: translate(-50%, -13%);
  opacity: 0.7;
}

.hz-045fb46a-42dd-4eae-9c17-ec49bfccabff {
  position: absolute;
  width: 1120.32666015625px;
  height: 41.02869415283203px;
  left: 50.000081394671845%;
  top: 92.19318615491251%;
  transform: translate(-50.000081394671845%, -92.19318615491251%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69336700439453px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
  zIndex: 10;
}

.hz-f5c176ea-df84-49a0-9ced-a7e67ccd3363 {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: rgba(245,233,190,1);
}

.hz-3b3dc95a-b9b0-41f4-82ac-78868052f5c5 {
  position: absolute;
  width: 1120.3267822265625px;
  height: 225.31787109375px;
  left: 50.00007660686735%;
  top: 54.0584075877896%;
  transform: translate(-50.00007660686735%, -54.0584075877896%) rotate(0deg);
  color: rgba(203.00000309944153, 54.00000058114529, 80.00000283122063, 1);
  font-size: 124.15336608886719px;
  font-weight: bold;
  font-family: Bebas Neue;
  line-height: 0.7148440480232239;
  text-align: center;
  zIndex: 10;
}

.hz-99cc217f-d0e5-4609-bb7e-2b0c1c51d207 {
  position: absolute;
  width: 1120.32666015625px;
  height: 41.02869415283203px;
  left: 49.999928181171896%;
  top: 76.34286831190666%;
  transform: translate(-49.999928181171896%, -76.34286831190666%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69336700439453px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
  zIndex: 10;
}

.hz-1cb8fa27-9cf4-4b3a-97cf-b7d700b6e544 {
  position: absolute;
  width: 1120.3267669677734px;
  height: 406.67861862182616px;
  left: 50%;
  top: 13%;
  transform: translate(-50%, -13%);
  opacity: 0.7;
}

.hz-9c390bf4-eff5-4df4-85af-9fac48513d7f {
  position: absolute;
  width: 1120.32666015625px;
  height: 41.02869415283203px;
  left: 50.000081394671845%;
  top: 92.19318615491251%;
  transform: translate(-50.000081394671845%, -92.19318615491251%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69336700439453px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
  zIndex: 10;
}

.hz-aaa1810e-11d4-4803-bde4-fabe8385ba3d {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: rgba(201,219,220,1);
}

.hz-8bf260b5-bf8d-408a-9be3-87ac7f823be3 {
  position: absolute;
  width: 646.6666717529297px;
  height: 369.9152530734822px;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -0%);
  opacity: undefined;
}

.hz-581c99a5-22e9-4c4d-a45a-98afbd95e807 {
  position: absolute;
  width: 436.5885314941406px;
  height: 189.6128692626953px;
  left: 49.9999980012366%;
  top: 49.99999717564819%;
  transform: translate(-49.9999980012366%, -49.99999717564819%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 65.51106262207031px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 0.9026874899864197;
  text-align: center;
  zIndex: 10;
}

.hz-19823b88-97c2-4622-aac7-c224fe962a8e {
  position: absolute;
  width: 434.3791809082031px;
  height: 17.2515811920166px;
  left: 50.14428690080139%;
  top: 67.8569432773284%;
  transform: translate(-50.14428690080139%, -67.8569432773284%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 15.841828346252441px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-f1f000f5-34e6-44a3-ae81-af25add1d50b {
  position: absolute;
  width: 434.379150390625px;
  height: 20.44631576538086px;
  left: 50.144284902054636%;
  top: 70.88686297701406%;
  transform: translate(-50.144284902054636%, -70.88686297701406%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 18.77549934387207px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-5e1a08e2-b5b6-4f23-9420-4dfe018b3884 {
  position: absolute;
  width: 114.13887786865234px;
  height: 40.6840934753418px;
  left: 35.152351549793195%;
  top: 84.12469134737657%;
  transform: translate(-35.152351549793195%, -84.12469134737657%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 12.429780006408691px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.0920624732971191;
  text-align: left;
  zIndex: 10;
}

.hz-ac19eacd-3039-46f4-a583-4e9d9d0900ae {
  position: absolute;
  width: 147.6717987060547px;
  height: 45.6911506652832px;
  left: 36.22532876313697%;
  top: 78.70304565635428%;
  transform: translate(-36.22532876313697%, -78.70304565635428%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 18.77549934387207px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.3445625305175781;
  text-align: left;
  zIndex: 10;
}

.hz-59a049ed-8201-4797-a209-ec22de8886e7 {
  position: absolute;
  width: 434.379150390625px;
  height: 13.972537994384766px;
  left: 50.144284902054636%;
  top: 95.83018350701374%;
  transform: translate(-50.144284902054636%, -95.83018350701374%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 12.830739974975586px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-01a7dd28-43f8-41c5-b55a-3620a2fbb8d3 {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: rgba(201,219,220,1);
}

.hz-97be4873-26f6-4b16-879d-3c6b729df669 {
  position: absolute;
  width: 646.6666717529297px;
  height: 369.9152530734822px;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -0%);
  opacity: undefined;
}

.hz-2d2a3b10-3f67-4252-af4b-b73ff8ba1bef {
  position: absolute;
  width: 436.5885314941406px;
  height: 189.6128692626953px;
  left: 49.9999980012366%;
  top: 49.99999717564819%;
  transform: translate(-49.9999980012366%, -49.99999717564819%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 65.51106262207031px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 0.9026874899864197;
  text-align: center;
  zIndex: 10;
}

.hz-3dabce7e-0016-4211-9888-cbbc274f79df {
  position: absolute;
  width: 434.3791809082031px;
  height: 17.2515811920166px;
  left: 50.14428690080139%;
  top: 67.8569432773284%;
  transform: translate(-50.14428690080139%, -67.8569432773284%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 15.841828346252441px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-ad6ae944-92df-4f65-88f9-336bc82e0caa {
  position: absolute;
  width: 434.379150390625px;
  height: 20.44631576538086px;
  left: 50.144284902054636%;
  top: 70.88686297701406%;
  transform: translate(-50.144284902054636%, -70.88686297701406%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 18.77549934387207px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-69ef2fd1-88d9-4fe9-8a7d-ff5778a9d0d7 {
  position: absolute;
  width: 114.13887786865234px;
  height: 40.6840934753418px;
  left: 35.152351549793195%;
  top: 84.12469134737657%;
  transform: translate(-35.152351549793195%, -84.12469134737657%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 12.429780006408691px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.0920624732971191;
  text-align: left;
  zIndex: 10;
}

.hz-575260cb-a448-4bf3-a643-89a2163c6df1 {
  position: absolute;
  width: 147.6717987060547px;
  height: 45.6911506652832px;
  left: 36.22532876313697%;
  top: 78.70304565635428%;
  transform: translate(-36.22532876313697%, -78.70304565635428%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 18.77549934387207px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.3445625305175781;
  text-align: left;
  zIndex: 10;
}

.hz-8bf900a0-00ed-4a06-8b8c-fd3a4d57fe10 {
  position: absolute;
  width: 434.379150390625px;
  height: 13.972537994384766px;
  left: 50.144284902054636%;
  top: 95.83018350701374%;
  transform: translate(-50.144284902054636%, -95.83018350701374%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 12.830739974975586px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-e1837a80-04e8-410c-bbcb-635e50253eb7 {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: rgba(201,219,220,1);
}

.hz-22bbf0ac-42f7-41fa-8d5d-64b8d6a26532 {
  position: absolute;
  width: 646.6666717529297px;
  height: 369.9152530734822px;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -0%);
  opacity: undefined;
}

.hz-1154f4db-e942-4764-8502-fec1be908f43 {
  position: absolute;
  width: 436.5885314941406px;
  height: 189.6128692626953px;
  left: 49.9999980012366%;
  top: 49.99999717564819%;
  transform: translate(-49.9999980012366%, -49.99999717564819%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 65.51106262207031px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 0.9026874899864197;
  text-align: center;
  zIndex: 10;
}

.hz-5600af21-8402-4456-bb63-8284c636b1d3 {
  position: absolute;
  width: 434.3791809082031px;
  height: 17.2515811920166px;
  left: 50.14428690080139%;
  top: 67.8569432773284%;
  transform: translate(-50.14428690080139%, -67.8569432773284%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 15.841828346252441px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-25cfd4dc-defd-4bbd-88c7-75fe2ab345b9 {
  position: absolute;
  width: 434.379150390625px;
  height: 20.44631576538086px;
  left: 50.144284902054636%;
  top: 70.88686297701406%;
  transform: translate(-50.144284902054636%, -70.88686297701406%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 18.77549934387207px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-39d0672c-451e-434a-a2bf-e19c9cc33356 {
  position: absolute;
  width: 114.13887786865234px;
  height: 40.6840934753418px;
  left: 35.152351549793195%;
  top: 84.12469134737657%;
  transform: translate(-35.152351549793195%, -84.12469134737657%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 12.429780006408691px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.0920624732971191;
  text-align: left;
  zIndex: 10;
}

.hz-ec97b147-c905-44fb-8cf8-ab3f8f953a68 {
  position: absolute;
  width: 147.6717987060547px;
  height: 45.6911506652832px;
  left: 36.22532876313697%;
  top: 78.70304565635428%;
  transform: translate(-36.22532876313697%, -78.70304565635428%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 18.77549934387207px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.3445625305175781;
  text-align: left;
  zIndex: 10;
}

.hz-bc76e272-281e-45d8-ae99-932bf16b590c {
  position: absolute;
  width: 434.379150390625px;
  height: 13.972537994384766px;
  left: 50.144284902054636%;
  top: 95.83018350701374%;
  transform: translate(-50.144284902054636%, -95.83018350701374%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 12.830739974975586px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-cbd81633-4083-417e-be4b-9aedb6035928 {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: rgba(201,219,220,1);
}

.hz-9d6a70ea-ed0b-470d-9be6-fb0b46cf7535 {
  position: absolute;
  width: 646.6666717529297px;
  height: 369.9152530734822px;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -0%);
  opacity: undefined;
}

.hz-cc343c74-c853-45fb-81dc-0b25d544d1e6 {
  position: absolute;
  width: 436.5885314941406px;
  height: 189.6128692626953px;
  left: 49.9999980012366%;
  top: 49.99999717564819%;
  transform: translate(-49.9999980012366%, -49.99999717564819%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 65.51106262207031px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 0.9026874899864197;
  text-align: center;
  zIndex: 10;
}

.hz-3a453e0b-acd9-482e-a3bb-09675449e768 {
  position: absolute;
  width: 434.3791809082031px;
  height: 17.2515811920166px;
  left: 50.14428690080139%;
  top: 67.8569432773284%;
  transform: translate(-50.14428690080139%, -67.8569432773284%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 15.841828346252441px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-9e84fd9f-4090-470f-877f-4a238d527a66 {
  position: absolute;
  width: 434.379150390625px;
  height: 20.44631576538086px;
  left: 50.144284902054636%;
  top: 70.88686297701406%;
  transform: translate(-50.144284902054636%, -70.88686297701406%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 18.77549934387207px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-97b0d7ba-b46a-42d4-8dc9-72a3ae882752 {
  position: absolute;
  width: 114.13887786865234px;
  height: 40.6840934753418px;
  left: 35.152351549793195%;
  top: 84.12469134737657%;
  transform: translate(-35.152351549793195%, -84.12469134737657%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 12.429780006408691px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.0920624732971191;
  text-align: left;
  zIndex: 10;
}

.hz-b6dc2cc5-e288-44ba-b5c6-d43a116d51b2 {
  position: absolute;
  width: 147.6717987060547px;
  height: 45.6911506652832px;
  left: 36.22532876313697%;
  top: 78.70304565635428%;
  transform: translate(-36.22532876313697%, -78.70304565635428%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 18.77549934387207px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.3445625305175781;
  text-align: left;
  zIndex: 10;
}

.hz-22e5dffd-a743-4f0e-85b2-182a98108598 {
  position: absolute;
  width: 434.379150390625px;
  height: 13.972537994384766px;
  left: 50.144284902054636%;
  top: 95.83018350701374%;
  transform: translate(-50.144284902054636%, -95.83018350701374%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 12.830739974975586px;
  font-weight: undefined;
  font-family: Raleway;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-18baf370-e1a8-4644-a026-2928f33abbfe {
  position: relative;
  width: 100%;
  height: 628px;
  background-color: rgba(255,255,255,1);
}

.hz-781a1565-42fc-419c-bfa2-4617324dd447 {
  position: absolute;
  width: 1222.6158868335147px;
  height: 698.6376496191513px;
  left: 55%;
  top: 86%;
  transform: translate(-55%, -86%);
  opacity: undefined;
}

.hz-a06d6d14-d9ad-4b4f-87fe-0b770bf9cf0a {
  position: absolute;
  width: 947.276611328125px;
  height: 99.61889457702637px;
  left: 49.60431046558254%;
  top: 77.81538575848536%;
  transform: translate(-49.60431046558254%, -77.81538575848536%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 99.618896484375px;
  font-weight: undefined;
  font-family: Bungee;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-e7e906f0-91d5-4f35-9d6c-0208749fcb5c {
  position: absolute;
  width: 442.0745849609375px;
  height: 40.052276611328125px;
  left: 49.353532866430285%;
  top: 88.79085764603512%;
  transform: translate(-49.353532866430285%, -88.79085764603512%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 36.378662109375px;
  font-weight: undefined;
  font-family: Montserrat;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-6fd7b1b9-4164-48b3-890a-14cd02ae15f0 {
  position: relative;
  width: 100%;
  height: 628px;
  background-color: rgba(255,255,255,1);
}

.hz-b9bfb075-ec2b-41d1-8d73-717ea9072326 {
  position: absolute;
  width: 1222.6158868335147px;
  height: 698.6376496191513px;
  left: 55%;
  top: 86%;
  transform: translate(-55%, -86%);
  opacity: undefined;
}

.hz-cb513aa2-7a70-4b82-bf44-f7731139ab05 {
  position: absolute;
  width: 947.276611328125px;
  height: 99.61889457702637px;
  left: 49.60431046558254%;
  top: 77.81538575848536%;
  transform: translate(-49.60431046558254%, -77.81538575848536%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 99.618896484375px;
  font-weight: undefined;
  font-family: Bungee;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-f44361c5-4f5b-4624-82b6-6fb303e86bd3 {
  position: absolute;
  width: 442.0745849609375px;
  height: 40.052276611328125px;
  left: 49.353532866430285%;
  top: 88.79085764603512%;
  transform: translate(-49.353532866430285%, -88.79085764603512%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 36.378662109375px;
  font-weight: undefined;
  font-family: Montserrat;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-1312abd6-c8ce-4aba-ac58-72b8a2dbd215 {
  position: relative;
  width: 100%;
  height: 628px;
  background-color: rgba(255,255,255,1);
}

.hz-3a3d821c-19c9-4891-b97e-2533a4ba6812 {
  position: absolute;
  width: 1222.6158868335147px;
  height: 698.6376496191513px;
  left: 55%;
  top: 86%;
  transform: translate(-55%, -86%);
  opacity: undefined;
}

.hz-0c694074-8cf1-4920-bb0c-df517afcf5bf {
  position: absolute;
  width: 947.276611328125px;
  height: 99.61889457702637px;
  left: 49.60431046558254%;
  top: 77.81538575848536%;
  transform: translate(-49.60431046558254%, -77.81538575848536%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 99.618896484375px;
  font-weight: undefined;
  font-family: Bungee;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-6c77baba-1afa-4136-ac37-d77bdac66482 {
  position: absolute;
  width: 442.0745849609375px;
  height: 40.052276611328125px;
  left: 49.353532866430285%;
  top: 88.79085764603512%;
  transform: translate(-49.353532866430285%, -88.79085764603512%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 36.378662109375px;
  font-weight: undefined;
  font-family: Montserrat;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-53816c46-c9d4-45ce-b180-80d6f48e5bc0 {
  position: relative;
  width: 100%;
  height: 628px;
  background-color: rgba(255,255,255,1);
}

.hz-e2d93758-2bbd-4b14-a932-73c2c348adfc {
  position: absolute;
  width: 1222.6158868335147px;
  height: 698.6376496191513px;
  left: 55%;
  top: 86%;
  transform: translate(-55%, -86%);
  opacity: undefined;
}

.hz-c82ceddf-888a-484b-bab1-f749e90458ce {
  position: absolute;
  width: 947.276611328125px;
  height: 99.61889457702637px;
  left: 49.60431046558254%;
  top: 77.81538575848536%;
  transform: translate(-49.60431046558254%, -77.81538575848536%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 99.618896484375px;
  font-weight: undefined;
  font-family: Bungee;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-cd38822e-ee83-442a-8ee5-1c12b064a597 {
  position: absolute;
  width: 442.0745849609375px;
  height: 40.052276611328125px;
  left: 49.353532866430285%;
  top: 88.79085764603512%;
  transform: translate(-49.353532866430285%, -88.79085764603512%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 36.378662109375px;
  font-weight: undefined;
  font-family: Montserrat;
  line-height: 1.2000000476837158;
  text-align: center;
  zIndex: 10;
}

.hz-cf669f3b-9671-42ea-9c43-4a674dc811c2 {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: rgba(245,233,190,1);
}

.hz-4d49f732-8f8f-450d-b1c6-8a1eaab686ce {
  position: absolute;
  width: 1120.3267822265625px;
  height: 225.31787109375px;
  left: 50.00007660686735%;
  top: 54.0584075877896%;
  transform: translate(-50.00007660686735%, -54.0584075877896%) rotate(0deg);
  color: rgba(203.00000309944153, 54.00000058114529, 80.00000283122063, 1);
  font-size: 124.15336608886719px;
  font-weight: bold;
  font-family: Bebas Neue;
  line-height: 0.7148440480232239;
  text-align: center;
  zIndex: 10;
}

.hz-556084b8-5098-4d32-9751-0e7485db42e1 {
  position: absolute;
  width: 1120.32666015625px;
  height: 41.02869415283203px;
  left: 49.999928181171896%;
  top: 76.34286831190666%;
  transform: translate(-49.999928181171896%, -76.34286831190666%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69336700439453px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
  zIndex: 10;
}

.hz-13c69053-4342-4e3f-a407-c447e0ef789e {
  position: absolute;
  width: 1120.3267669677734px;
  height: 406.67861862182616px;
  left: 50%;
  top: 13%;
  transform: translate(-50%, -13%);
  opacity: 0.7;
}

.hz-573cd672-371b-4e75-b00f-bf45e2602bed {
  position: absolute;
  width: 1120.32666015625px;
  height: 41.02869415283203px;
  left: 50.000081394671845%;
  top: 92.19318615491251%;
  transform: translate(-50.000081394671845%, -92.19318615491251%) rotate(0deg);
  color: rgba(0, 175.00000476837158, 209.00000274181366, 1);
  font-size: 37.69336700439453px;
  font-weight: undefined;
  font-family: Bello Caps Pro;
  line-height: 0.9537500143051147;
  text-align: center;
  zIndex: 10;
}

header {
  display: none;
}

footer {
  display: none;
}

.hz-promotion-container {
  padding: 0 !important;
}

.hz-promotion-wrapper {
  max-width: unset !important;
  margin: unset !important;
}
