.hz-4ee66dbb-ba2f-457a-a669-03f08b4c7b7e {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(255,255,255,1);
}

.hz-5db790df-d881-4ad1-a252-c935086b1152 {
  position: absolute;
  width: 400.0000228881836px;
  height: 400.0000228881836px;
  left: 0%;
  top: 0%;
  transform: translate(-0%, -0%);
  opacity: undefined;
}

.hz-3d49934a-f580-48d8-b832-57fa3d5e7dbd {
  position: absolute;
  width: 406.80792236328125px;
  height: 359.11981201171875px;
  left: 50.429150995728655%;
  top: 50.00003265992914%;
  transform: translate(-50.429150995728655%, -50.00003265992914%) rotate(0deg);
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

.hz-a199b53a-7a86-471c-8131-60cc3d24722b {
  position: absolute;
  width: 393.1919860839844px;
  height: 393.1919860839844px;
  left: 100%;
  top: 0%;
  transform: translate(-100%, -0%);
  opacity: undefined;
}

.hz-a1e16848-b6a7-4099-a6ab-16fd089427b5 {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(255,255,255,1);
}

.hz-dbb4f718-1ae6-4b66-8bbe-9606dd1b29a4 {
  position: absolute;
  width: 400.0000228881836px;
  height: 400.0000228881836px;
  left: 0%;
  top: 0%;
  transform: translate(-0%, -0%);
  opacity: undefined;
}

.hz-b1039d2b-6279-4e19-a3b3-e124588a3ca8 {
  position: absolute;
  width: 406.80792236328125px;
  height: 359.11981201171875px;
  left: 50.429150995728655%;
  top: 50.00003265992914%;
  transform: translate(-50.429150995728655%, -50.00003265992914%) rotate(0deg);
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

.hz-8d34586a-0112-4f1c-a9d0-d7bc912ec59b {
  position: absolute;
  width: 393.1919860839844px;
  height: 393.1919860839844px;
  left: 100%;
  top: 0%;
  transform: translate(-100%, -0%);
  opacity: undefined;
}

.hz-6e511d7a-143b-4b29-be34-bd5ebdc793c5 {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(255,255,255,1);
}

.hz-fed36cf2-76e3-4037-99d2-3ba0d168c001 {
  position: absolute;
  width: 400.0000228881836px;
  height: 400.0000228881836px;
  left: 0%;
  top: 0%;
  transform: translate(-0%, -0%);
  opacity: undefined;
}

.hz-ff9563c4-e5eb-4336-a3ac-dc48c335ab62 {
  position: absolute;
  width: 406.80792236328125px;
  height: 359.11981201171875px;
  left: 50.429150995728655%;
  top: 50.00003265992914%;
  transform: translate(-50.429150995728655%, -50.00003265992914%) rotate(0deg);
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

.hz-8ef52daf-54f3-4ae5-8c9f-ee1632a3be36 {
  position: absolute;
  width: 393.1919860839844px;
  height: 393.1919860839844px;
  left: 100%;
  top: 0%;
  transform: translate(-100%, -0%);
  opacity: undefined;
}

.hz-9773c344-78da-4160-8e2b-9b1785a1deaa {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(255,255,255,1);
}

.hz-3f8e5a1c-9e70-4e8e-ada2-50393cb3c50d {
  position: absolute;
  width: 400.0000228881836px;
  height: 400.0000228881836px;
  left: 0%;
  top: 0%;
  transform: translate(-0%, -0%);
  opacity: undefined;
}

.hz-add32b5f-dbac-4f2d-acda-df4c4ea09561 {
  position: absolute;
  width: 406.80792236328125px;
  height: 359.11981201171875px;
  left: 50.429150995728655%;
  top: 50.00003265992914%;
  transform: translate(-50.429150995728655%, -50.00003265992914%) rotate(0deg);
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

.hz-73b55e98-717d-4a41-8b1e-438268c9055c {
  position: absolute;
  width: 393.1919860839844px;
  height: 393.1919860839844px;
  left: 100%;
  top: 0%;
  transform: translate(-100%, -0%);
  opacity: undefined;
}

.hz-4f532b35-d55d-4a41-9da6-965ba14bb742 {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(0,0,0,1);
}

.hz-308a7c70-0a08-4ff4-8a5b-0c2c269e039e {
  position: absolute;
  width: 400.0000228881836px;
  height: 400.0000228881836px;
  left: 0%;
  top: 0%;
  transform: translate(-0%, -0%);
  opacity: undefined;
}

.hz-e7effc06-60d5-4673-93e1-3604fcf87e9e {
  position: absolute;
  width: 799.9999389648438px;
  height: 383.11981201171875px;
  left: 99.99999237060663%;
  top: 99.99997740133423%;
  transform: translate(-99.99999237060663%, -99.99997740133423%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

.hz-61c3604d-ead9-4b9e-9bd7-1c35cbe29091 {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(0,0,0,1);
}

.hz-7903d446-7a34-4613-ab11-4583ed820e94 {
  position: absolute;
  width: 400.0000228881836px;
  height: 400.0000228881836px;
  left: 0%;
  top: 0%;
  transform: translate(-0%, -0%);
  opacity: undefined;
}

.hz-bb16e22d-b7ac-4323-a23a-2437d816c58b {
  position: absolute;
  width: 799.9999389648438px;
  height: 383.11981201171875px;
  left: 99.99999237060663%;
  top: 99.99997740133423%;
  transform: translate(-99.99999237060663%, -99.99997740133423%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

.hz-94c1f429-1a6d-4080-afb4-d4a5e142dca8 {
  position: relative;
  width: 100%;
  height: 480px;
  background-color: rgba(255,255,255,1);
}

.hz-3e878615-6728-4f73-a52f-db8fffc01ffa {
  position: absolute;
  width: 400.0000228881836px;
  height: 400.0000228881836px;
  left: 0%;
  top: 0%;
  transform: translate(-0%, -0%);
  opacity: undefined;
}

.hz-d2492ac0-fee9-4b32-84d7-2e92f4239b26 {
  position: absolute;
  width: 799.9999389648438px;
  height: 383.11981201171875px;
  left: 100.00000762939337%;
  top: 17.423816453881944%;
  transform: translate(-100.00000762939337%, -17.423816453881944%) rotate(0deg);
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

.hz-72631212-998d-4bcf-a44f-d4d375d26075 {
  position: absolute;
  width: 1200px;
  height: 34.679718017578125px;
  left: NaN%;
  top: 93.23274572709975%;
  transform: translate(-NaN%, -93.23274572709975%) rotate(0deg);
  color: rgba(245.00000059604645, 223.00000190734863, 125.00000014901161, 1);
  font-size: 30px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

.hz-11ce3869-1d67-4943-b50d-81de4de8cceb {
  position: relative;
  width: 100%;
  height: 480px;
  background-color: rgba(255,255,255,1);
}

.hz-e6285cdf-1e92-4df4-a73f-c9cf6564e382 {
  position: absolute;
  width: 400.0000228881836px;
  height: 400.0000228881836px;
  left: 0%;
  top: 0%;
  transform: translate(-0%, -0%);
  opacity: undefined;
}

.hz-9cb70136-079b-481b-aaec-3c9d9b1b2b93 {
  position: absolute;
  width: 799.9999389648438px;
  height: 383.11981201171875px;
  left: 100.00000762939337%;
  top: 17.423816453881944%;
  transform: translate(-100.00000762939337%, -17.423816453881944%) rotate(0deg);
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

.hz-acac57db-004f-44e4-9495-ecac4843d876 {
  position: absolute;
  width: 1200px;
  height: 34.679718017578125px;
  left: NaN%;
  top: 93.23274572709975%;
  transform: translate(-NaN%, -93.23274572709975%) rotate(0deg);
  color: rgba(245.00000059604645, 223.00000190734863, 125.00000014901161, 1);
  font-size: 30px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

.hz-96350493-05f8-4741-b598-958fe1340d15 {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(0,0,0,1);
}

.hz-e7262556-6d28-420f-b385-62336d3bbd62 {
  position: absolute;
  width: 400.0000228881836px;
  height: 400.0000228881836px;
  left: 0%;
  top: 0%;
  transform: translate(-0%, -0%);
  opacity: undefined;
}

.hz-50d52e25-97be-4735-b173-21deef7d7ef5 {
  position: absolute;
  width: 799.9999389648438px;
  height: 383.11981201171875px;
  left: 99.99999237060663%;
  top: 99.99997740133423%;
  transform: translate(-99.99999237060663%, -99.99997740133423%) rotate(0deg);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

