.hz-0a67ee16-9c5b-4226-b5e9-0f40f5b3eabf {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(255,255,255,1);
}

.hz-56bc189f-1739-4e54-a4e2-466707401d33 {
  position: absolute;
  width: 400.0000228881836px;
  height: 400.0000228881836px;
  left: 0%;
  top: 0%;
  transform: translate(-0%, -0%);
  opacity: undefined;
}

.hz-4f84e163-8dd1-448e-aa79-3fc2bb7811ad {
  position: absolute;
  width: 406.80792236328125px;
  height: 359.11981201171875px;
  left: 50.429150995728655%;
  top: 50.00003265992914%;
  transform: translate(-50.429150995728655%, -50.00003265992914%) rotate(0deg);
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

.hz-dd985b3c-3109-4d4e-ba2b-b936d86234e3 {
  position: absolute;
  width: 393.1919860839844px;
  height: 393.1919860839844px;
  left: 100%;
  top: 0%;
  transform: translate(-100%, -0%);
  opacity: undefined;
}

.hz-5d49628d-1f33-4ee6-89f5-0521d2fe5bbe {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(255,255,255,1);
}

.hz-1f79fe42-f4fc-47df-9994-e4b7e9cb4fef {
  position: absolute;
  width: 400.0000228881836px;
  height: 400.0000228881836px;
  left: 0%;
  top: 0%;
  transform: translate(-0%, -0%);
  opacity: undefined;
}

.hz-3ec8cc19-0856-4d9b-92a4-437bbb4f0fb5 {
  position: absolute;
  width: 406.80792236328125px;
  height: 359.11981201171875px;
  left: 50.429150995728655%;
  top: 50.00003265992914%;
  transform: translate(-50.429150995728655%, -50.00003265992914%) rotate(0deg);
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

.hz-8ec91113-2b18-4a68-864f-90581edaf87d {
  position: absolute;
  width: 393.1919860839844px;
  height: 393.1919860839844px;
  left: 100%;
  top: 0%;
  transform: translate(-100%, -0%);
  opacity: undefined;
}

.hz-e92bb9bf-f75d-4a98-a20c-f02085913818 {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(255,255,255,1);
}

.hz-90009478-3d75-4dbf-ae08-c6b35d6e1188 {
  position: absolute;
  width: 400.0000228881836px;
  height: 400.0000228881836px;
  left: 0%;
  top: 0%;
  transform: translate(-0%, -0%);
  opacity: undefined;
}

.hz-9b6882c2-3874-42ae-8273-7e8419ed72d5 {
  position: absolute;
  width: 406.80792236328125px;
  height: 359.11981201171875px;
  left: 50.429150995728655%;
  top: 50.00003265992914%;
  transform: translate(-50.429150995728655%, -50.00003265992914%) rotate(0deg);
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

.hz-1e7d9391-d4be-4081-a8c6-004b8d70a62d {
  position: absolute;
  width: 393.1919860839844px;
  height: 393.1919860839844px;
  left: 100%;
  top: 0%;
  transform: translate(-100%, -0%);
  opacity: undefined;
}

.hz-6045d74b-d312-4aec-92f2-bf57637301d5 {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(255,255,255,1);
}

.hz-f3ae78b5-6319-4549-b224-a81683959a86 {
  position: absolute;
  width: 400.0000228881836px;
  height: 400.0000228881836px;
  left: 0%;
  top: 0%;
  transform: translate(-0%, -0%);
  opacity: undefined;
}

.hz-39c26427-26bb-4f15-bb8a-403ddd89b33d {
  position: absolute;
  width: 406.80792236328125px;
  height: 359.11981201171875px;
  left: 50.429150995728655%;
  top: 50.00003265992914%;
  transform: translate(-50.429150995728655%, -50.00003265992914%) rotate(0deg);
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

.hz-37beca2d-1e6f-4509-923c-61864b4a8f72 {
  position: absolute;
  width: 393.1919860839844px;
  height: 393.1919860839844px;
  left: 100%;
  top: 0%;
  transform: translate(-100%, -0%);
  opacity: undefined;
}

.hz-6d9177a8-290c-43d8-985d-48004204e407 {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(255,255,255,1);
}

.hz-bf71402c-6da8-4851-ba5f-18c033fc07e0 {
  position: absolute;
  width: 400.0000228881836px;
  height: 400.0000228881836px;
  left: 0%;
  top: 0%;
  transform: translate(-0%, -0%);
  opacity: undefined;
}

.hz-951137f8-b01d-427b-b3f8-7a0e27daa56f {
  position: absolute;
  width: 406.80792236328125px;
  height: 359.11981201171875px;
  left: 50.429150995728655%;
  top: 50.00003265992914%;
  transform: translate(-50.429150995728655%, -50.00003265992914%) rotate(0deg);
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

.hz-c9e8a052-0b11-48a3-b226-f70005f9a108 {
  position: absolute;
  width: 393.1919860839844px;
  height: 393.1919860839844px;
  left: 100%;
  top: 0%;
  transform: translate(-100%, -0%);
  opacity: undefined;
}

