.hz-bad4375c-68fc-42fd-ae32-41e085d7d18d {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(255,255,255,1);
}

.hz-7b8c3f37-66a7-4ae7-af02-9fd28f3ac282 {
  position: absolute;
  width: 400.0000228881836px;
  height: 400.0000228881836px;
  left: 49%;
  top: 0%;
  transform: translate(-49%, -0%);
  opacity: undefined;
}

.hz-75791758-e3e0-467a-b862-899451a8035f {
  position: absolute;
  width: 414.99993896484375px;
  height: 407.11981201171875px;
  left: 99.99999222482147%;
  top: 0.00005782227551083484%;
  transform: translate(-99.99999222482147%, -0.00005782227551083484%) rotate(0deg);
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

.hz-89f01822-1a8c-4f49-8f7c-c4417e9d3d7a {
  position: absolute;
  width: 383.11981201171875px;
  height: 383.11981201171875px;
  left: 0%;
  top: 0%;
  transform: translate(-0%, -0%) rotate(0deg);
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: undefined;
  font-family: Source Sans 3;
  line-height: 1.2000000476837158;
  text-align: center;
  z-index: 10;
}

